test/deployment/
test\.classpath
test/.project
test/*.lock
test/*.launch

!test/
test/*
!test/javasource/
test/javasource/*
!test/javasource/myfirstmodule/
test/javasource/myfirstmodule/*
!test/javasource/myfirstmodule/actions


out/
nbproject/
node_modules/
*.bak
*.map
*.tmp
*.jshintrc
src/ProgressBarButton/widget/ProgressBarButton.js
src/ProgressBarButton/widget/components/ProgressBarButton.js
src/ProgressBarButton/widget/components/Button.js
src/ProgressBarButton/widget/components/Button.js
