test/Mx5.14.1/deployment/
test/Mx5.20/deployment/

test/Mx5.14.1/.classpath
test/Mx5.20/.classpath

test/Mx5.14.1/.project
test/Mx5.20/.project

test/Mx5.14.1/*.lock
test/Mx5.20/*.lock

test/Mx5.14.1/test.launch
test/Mx5.20/test.launch

test/Mx5.14.1/javasource/
test/Mx5.20/javasource/

nbproject/
node_modules/
*.bak
*.launch
zip ProgressBarButton.bat