test/*/deployment/
test/*/.classpath
test/*/.project
test/*/*.lock
test/*/test.launch

!test/*/
test/*/*
!test/*/javasource/
test/*/javasource/*
!test/*/javasource/myfirstmodule/
test/*/javasource/myfirstmodule/*
!test/*/javasource/myfirstmodule/actions

out/
typings/
nbproject/
node_modules/
*.bak
*.map
*.tmp
*.jshintrc
src/ProgressBarButton/widget/ProgressBarButtonFix.js
src/ProgressBarButton/widget/ProgressBarButton.js